<div class="container" ng-Controller="c_contactController">

  <h2 align="center" style="margin:20px 0;">ADD BLOG</h2>
  <form>
    <div class="form-group">
      <label for="contactus">Name:</label>
      <input type="text" class="form-control" ng-model="suggestion.name" placeholder="Enter Your Name" name="name">
    </div>
    <div class="form-group">
      <label for="emailid">EmailId:</label>
      <input type="email" class="form-control" rows="5"  ng-model="suggestion.emailid" placeholder="Enter EmailId"name="emailid"></textarea>
    </div>
     <div class="form-group">
      <label for="suggestion">Suggestions:</label>
      <textarea class="form-control" rows="5"  ng-model="suggestion.message" placeholder="Enter Suggestions"name="suggestion"></textarea>
    </div>
    <button type="submit" ng-click="addSuggestion()" class="btn btn-primary">Submit</button>
  </form>
</div>